.hidden
{
    display:none;
}

.center
{
    margin-left:auto;
    margin-right:auto;
}

.content-header
{
    margin: 0px 0px 200px 0px;
    min-height:30px;
    width: 100%;
}
.content-topper
{
    min-height:30px;
    padding:8px 10px;
    width:660px;
}
.content-whole
{
    padding:10px;
    width:660px;
}
.content-right
{
	width:40%;
	float:right;
}
.content-left
{
	width: 60%;  
	float:left;
}
.content-half-left
{
	width:320px;
	padding:10px;
}

.content-half-right
{
    width: 320px;
    padding: 10px;   
}

.pageLeft
{
    width: 14.8%;
    float:left;
    height: auto;
    margin: 242px 0px 0px 0px;
    min-width: 150px;
    display: inline;
}

.pageRight
{
    width: 14.75%;
    float: right;
    height: auto;
    margin: 150px 0px 0px 0px;
}

.clear
{
    clear:both;
}

.facebook
{
    border: none;
    width: 200px;
    height: 80px;
}

.twitter
{
    
}