html,body,div,span,
h1,h2,h3,h4,h5,h6,p,
a,img,strong,li,ol,ul,
form,label,table,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	line-height: 1;
	font-family: Tahoma;
	text-align: left;
}
body
{
	background: url("https://secure.indianatech.edu/web-forms/images/background.jpg") no-repeat scroll 0 0 transparent;
	background-position: center;
	background-color: Black;
	background-attachment:fixed;
    overflow:auto;
    text-align:center;
    margin-top:75px;
	font-family:Arial;
}
div
{
    font-family:Arial;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=checkbox]
{
    vertical-align:baseline;
    margin:0;
}
input[type=radio]
{
    vertical-align:baseline;
    margin:0;
}
h1
{
    font-family:Arial;
	font-size:15px;
	font-weight:bold;
}

h2
{
    font-family:Arial;
	font-size:14px;
	margin:2px 2px;
	line-height:1.2em;
}

p,h3
{
    font-family:Arial;
    cursor:default;
	font-size:12px;
	margin:7px 2px;
	line-height:1.6em;
}
p.tiny
{
    font-size:4px;
}
h3
{
    display:inline;
}
td
{
    font-family:Arial;
	vertical-align:top;
	padding-top:2px;
	padding-bottom:2px;
}

a
{
    font-family:Arial;
	border-bottom: 0 none;
    color: #DC6800;
    text-decoration: none;
}

a:hover
{
	border-bottom: 1px dotted #486784;
	color: #486784;
}

input
{
	margin:2px 2px 4px 2px;
}
select
{
    margin:2px 2px 4px 2px;
	margin-bottom:4px;
	height:21px;
    border:solid 1px #ABADB3;
    color:#333;
}
textarea
{
    overflow:auto;
	margin:2px 2px; 
	height:150px;
	resize:none;
	font-family:Arial;
	font-size:12px;
}
strong
{
    font-family:Arial;
    font-weight:bold;
}
q:before,q:after,blockquote:before,blockquote:after
{
	content: "";
}
p.error 
{
    color:#EE4444;
}
p.indent
{
    margin-left:20px;
}
label
{
    font-family:Arial;
}
span
{
    font-family:Arial;
}
ul.bullets
{
    margin-left:20px;
    list-style-type:disc;
}
ul.blocks
{
    margin-left:20px;
    list-style-type:square;
}
li
{
    line-height:1.2em;
    margin-bottom:5px;
    cursor:default;
}
input.managed
{
    background-color:Transparent;
    border-width:0;
    cursor:default;
}
.hidden
{
    display:none;
}
.center
{
    margin-left:auto;
    margin-right:auto;
}
.collapse
{
    height:0px;
}
.float-left {float:left;}
.block {display:block;}
.bold-label { font-weight:bold; margin-bottom: 15px; }

.wrapper
{
    border: solid 3px #000000;
    width: 680px;
	margin:0px auto;
	margin-bottom:75px;
	text-align:left;
	background-color:#eee;
}

.header
{
    min-height:93px;
    background:url("https://secure.indianatech.edu/web-forms/images/form-header.png") no-repeat scroll 0 0 #FFFFFF;
}
.blue-bar
{
    background: url("https://secure.indianatech.edu/web-forms/images/bluebar.gif") no-repeat scroll 0 50% transparent;
    padding: 5px 10px;
    height: 16px;
    font-size: 15px;
    font-family: Arial;
    font-weight:bold;
    cursor:default;
    color: #FFF;
}
.blue-break
{
    width:100%;
    border-top:solid 4px #222A37;
    height:4px;
}
.button-wrapper
{
    height:30px;
}
.button
{
    float:right;
	display:none;
	width:107px;
	height:29px;
	border-width:0;
}
.button-active
{
    display:block;
}
.button-continue
{
    background-image:url("https://secure.indianatech.edu/OptimusPrime/image/cont.gif");
}
.button-submit
{
    background-image:url("https://secure.indianatech.edu/OptimusPrime/image/submit.gif");
}
.button-back
{
    background-image:url("https://secure.indianatech.edu/OptimusPrime/image/back.gif");
}
.button-done
{
    background-image:url("https://secure.indianatech.edu/OptimusPrime/image/done.gif");
}
.button-cancel
{
    background-image:url("https://secure.indianatech.edu/OptimusPrime/image/cancel.gif");
}
.content,.content-half,.content-half,.content-right,.content-left,.content-whole
{
    background-color:#EEEEEE;
	font-size:0;
}
.content-header
{
    margin-top:20px;
    padding:10px 10px;
    padding-left:17px;
    min-height:30px;
    width:660px;
}
.content-topper
{
    min-height:30px;
    padding:8px 10px;
    width:660px;
}
.content-whole
{
    padding:10px;
    width:660px;
}
.content-right
{
	width:320px;
	padding:10px;
	float:left;
}
.content-left
{
	width:320px;
	padding:10px;    
	float:left;
}
.content-half
{
	width:320px;
	padding:10px;
}
.clear
{
    clear:both;
}
.footer
{
    
    min-height:10px;
    padding:10px 0px;
    text-align:center;
    font-size:11px;
}

.hint-box
{
    color:#888888;
}

.inline
{
    display:inline;
    margin:0;
}
.tab-wrapper
{
    height: 34px;
    width:100%;
    text-align: right;
}
.tab-bar
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;    
    background-color: #FF8000;
    height: 30px;
}
.tabs-li
{
    height:16px;
    padding:2px 15px;
    background-color: Transparent;
}
.tab
{
    padding-bottom:30px;
}
.tab-active
{
    display:block;
}
.title
{
    /*height:59px;*/
}
.title-text
{
    padding:43px 0px 0px 17px;
    color:#888888;
    font-size:1.5em;
}

.t0{width:0;}.t1{width:10px;}.t2{width:20px;}.t3{width:30px;}.t4{width:40px;}.t5{width:50px;}.t6{width:60px;}.t7{width:70px;}.t8{width:80px;}.t9{width:90px;}
.t10{width:100px;}.t11{width:110px;}.t12{width:120px;}.t13{width:130px;}.t14{width:140px;}.t15{width:150px;}.t16{width:160px;}.t17{width:170px;}.t18{width:180px;}.t19{width:190px;}
.t20{width:200px;}.t21{width:210px;}.t22{width:220px;}.t23{width:230px;}.t24{width:240px;}.t25{width:250px;}.t26{width:260px;}.t27{width:270px;}.t28{width:280px;}.t29{width:290px;}
.t30{width:300px;}.t31{width:310px;}.t32{width:320px;}.t33{width:330px;}.t34{width:340px;}.t35{width:350px;}.t36{width:360px;}.t37{width:370px;}.t38{width:380px;}.t39{width:390px;}
.t40{width:400px;}.t41{width:410px;}.t42{width:420px;}.t43{width:430px;}.t44{width:440px;}.t45{width:450px;}.t46{width:460px;}.t47{width:470px;}.t48{width:480px;}.t49{width:490px;}
.t50{width:500px;}.t51{width:510px;}.t52{width:520px;}.t53{width:530px;}.t54{width:540px;}.t55{width:550px;}.t56{width:560px;}.t57{width:570px;}.t58{width:580px;}.t59{width:590px;}
.t60{width:600px;}

select.t1{width:15px;}select.t2{width:25px;}select.t3{width:35px;}select.t4{width:45px;}select.t5{width:55px;}select.t6{width:65px;}select.t7{width:75px;}select.t8{width:85px;}select.t9{width:95px;}
select.t10{width:105px;}select.t11{width:115px;}select.t12{width:125px;}select.t13{width:135px;}select.t14{width:145px;}select.t15{width:155px;}select.t16{width:165px;}select.t17{width:175px;}select.t18{width:185px;}select.t19{width:195px;}
select.t20{width:205px;}select.t21{width:215px;}select.t22{width:225px;}select.t23{width:235px;}select.t24{width:245px;}select.t25{width:255px;}select.t26{width:265px;}select.t27{width:275px;}select.t28{width:285px;}select.t29{width:295px;}
select.t30{width:305px;}select.t31{width:315px;}select.t32{width:325px;}select.t33{width:335px;}select.t34{width:345px;}select.t35{width:355px;}select.t36{width:365px;}select.t37{width:375px;}select.t38{width:385px;}select.t39{width:395px;}
select.t40{width:405px;}select.t41{width:415px;}select.t42{width:425px;}select.t43{width:435px;}select.t44{width:445px;}select.t45{width:455px;}select.t46{width:465px;}select.t47{width:475px;}select.t48{width:485px;}select.t49{width:495px;}
select.t50{width:505px;}select.t51{width:515px;}select.t52{width:525px;}select.t53{width:535px;}select.t54{width:545px;}select.t55{width:555px;}select.t56{width:565px;}select.t57{width:575px;}select.t58{width:585px;}select.t59{width:595px;}
select.t60{width:605px;}

.whole
{
    width:650px;
}

/* fake classes for JQuery sake */
.hinted {}
.tab {}
.validate {}